* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
}

[data-container] {
    display: grid;
    width: 100%;
}

/*-- INDEX --*/

.splash {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

[data-splashvideo] {
    width: 100vw;
    height: 56.25vw;
    border: none;
    position: fixed;
    z-index: -1;
    filter: brightness(0.6);
}

.logo {
    background-image: url(img/logo_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vw;
    height: 15vw;
    position: absolute;
    top: 8.5vw;
    left: 36vw;
    z-index: 200;
    filter: brightness(1.4);
}

.frame {
    background-color: rgba(10, 70, 37, 0.41);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 199;
}

.quote {
    position: absolute;
    top: 26vw;
    left: 30vw;
    color: #f1f1f1;
    font-size: 5vw;
    text-align: center;
    font-family: "Fusterd Brush";
    width: 40vw;
    border-top: dotted 5px #65c3b0;
    border-bottom: dotted 5px #65c3b0;
}

/*-- STEDER --*/

.steder [data-container] {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5vw;
    grid-column: 2/12;
}

.steder article {
    width: 40vw;
}

.steder img {
    width: 100%;
}

/*-- NYHEDER --*/

.nyheder [data-container] {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
}

.nyheder article {
    width: 22vw;
}

.nyheder img {
    width: 100%;
}

/*-- OM FOOD8 --*/

.about [data-container] {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.about article {
    width: 42.5vw;
}

.about img {
    width: 100%;
}
